.card {
    background-color: grey;
    display: flexbox;
    border: 3px solid blue;
    padding: 15px;
    margin: 20px;
    width: 250px;
    height: 120px;
}

.image {
    height: 80px;
    display: inline;
}

img {
    height: 80px;
    display: inline;
}

.text {
    height: 80px;
    display: inline;
    position: relative;
    bottom: +65px;
}

p {
    display: flex;
}