.feedbackdiv {
    text-align: right;
    margin-right: 10%;
    color: black;
}

.inputdiv {
    width: 240px;
    display: flex;
}

#emailinput {
    height: 30px;
    width: 360px;
}

#messageinput {
    white-space: initial;
    margin-top: 10px;
    height: 120px;
    width: 360px;
}