.bigdiv {
    padding-top: 20px;
    background-color: blueviolet;
    color: white;
    justify-content: flex-start;
}

#nv1,
#nv2,
#nv3,
#nv4,
#nv5 {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flexbox;
}

#nv1:hover,
#nv2:hover,
#nv3:hover,
#nv4:hover,
#nv5:hover {
    color: yellow;
}

span {
    margin-right: 150px;
    font-size: 50px;
    display: flexbox;
}