.bigdiv {
    padding-top: 20px;
    background-color: blueviolet;
    color: white;
    justify-content: flex-start;
}

a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flexbox;
}

a:hover {
    color: yellow;
}

span {
    margin-right: 150px;
    font-size: 50px;
    display: flexbox;
}